Repository Azure/AzOps, pull requests merged in 2024-01, with the labels that each got.

#842 Adding Support for Parallel Deployments with Multiple Parameter Files
  .github/workflows/tests.yml
  docs/wiki/Frequently-Asked-Questions.md
  docs/wiki/Settings.md
  src/functions/Invoke-AzOpsPush.ps1
  src/internal/classes/AzOpsScope.ps1
  src/internal/configurations/Core.ps1
  src/internal/functions/ConvertFrom-AzOpsBicepTemplate.ps1
  src/internal/functions/New-AzOpsDeployment.ps1
  src/internal/functions/Set-AzOpsContext.ps1
  src/internal/functions/Set-AzOpsWhatIfOutput.ps1
  src/localized/en-us/Strings.psd1
  src/tests/functional/Microsoft.Authorization/policyAssignments/scenario.ps1
  src/tests/functional/Microsoft.Authorization/roleAssignments/scenario.ps1
  src/tests/functional/Microsoft.Compute/virtualMachines/scenario.ps1
  src/tests/functional/Microsoft.Insights/activityLogAlerts/scenario.ps1
  src/tests/functional/Microsoft.KeyVault/vaults/scenario.ps1
  src/tests/functional/Microsoft.Logic/workflows/scenario.ps1
  src/tests/functional/Microsoft.ManagedIdentity/userAssignedIdentities/scenario.ps1
  src/tests/functional/Microsoft.Management/managementGroups/scenario.ps1
  src/tests/functional/Microsoft.Network/azureFirewalls/scenario.ps1
  src/tests/functional/Microsoft.Network/bastionHosts/scenario.ps1
  src/tests/functional/Microsoft.Network/connections/scenario.ps1
  src/tests/functional/Microsoft.Network/localNetworkGateways/scenario.ps1
  src/tests/functional/Microsoft.Network/networkInterfaces/scenario.ps1
  src/tests/functional/Microsoft.Network/networkSecurityGroups/scenario.ps1
  src/tests/functional/Microsoft.Network/privateDnsZones/scenario.ps1
  src/tests/functional/Microsoft.Network/privateEndpoints/scenario.ps1
  src/tests/functional/Microsoft.Network/publicIPAddresses/scenario.ps1
  src/tests/functional/Microsoft.Network/routeTables/scenario.ps1
  src/tests/functional/Microsoft.Network/virtualNetworks/scenario.ps1
  src/tests/functional/Microsoft.Resources/resourceGroups/scenario.ps1
  src/tests/functional/Microsoft.Storage/storageAccounts/scenario.ps1
  src/tests/functional/Microsoft.Web/serverfarms/scenario.ps1
  src/tests/functional/Microsoft.Web/sites/scenario.ps1
  src/tests/integration/Repository.Tests.ps1
  src/tests/templates/azuredeploy.jsonc
  src/tests/templates/staparalleldeploy.bicep
  src/tests/templates/staparalleldeploy.xabcd.bicepparam
  src/tests/templates/staparalleldeploy.xabcde.bicepparam
  src/tests/templates/staparalleldeploy.xabcdf.bicepparam
  src/tests/templates/staserialdeploy2.bicep
  src/tests/templates/staserialdeploy2.xabcdfg.bicepparam
Labels: wiki-doc, enhancement, area/powershell

#844 Update API Version Handling
  src/internal/functions/ConvertTo-AzOpsState.ps1
  src/tests/functional/Microsoft.Authorization/policyAssignments/scenario.ps1
  src/tests/functional/Microsoft.Authorization/roleAssignments/scenario.ps1
  src/tests/functional/Microsoft.Authorization/roleEligibilityScheduleRequests/scenario.ps1
  src/tests/functional/Microsoft.Compute/virtualMachines/scenario.ps1
  src/tests/functional/Microsoft.Insights/activityLogAlerts/scenario.ps1
  src/tests/functional/Microsoft.KeyVault/vaults/scenario.ps1
  src/tests/functional/Microsoft.Logic/workflows/scenario.ps1
  src/tests/functional/Microsoft.ManagedIdentity/userAssignedIdentities/scenario.ps1
  src/tests/functional/Microsoft.Management/managementGroups/scenario.ps1
  src/tests/functional/Microsoft.Network/azureFirewalls/scenario.ps1
  src/tests/functional/Microsoft.Network/bastionHosts/scenario.ps1
  src/tests/functional/Microsoft.Network/connections/scenario.ps1
  src/tests/functional/Microsoft.Network/localNetworkGateways/scenario.ps1
  src/tests/functional/Microsoft.Network/networkInterfaces/scenario.ps1
  src/tests/functional/Microsoft.Network/networkSecurityGroups/scenario.ps1
  src/tests/functional/Microsoft.Network/privateDnsZones/scenario.ps1
  src/tests/functional/Microsoft.Network/privateEndpoints/scenario.ps1
  src/tests/functional/Microsoft.Network/publicIPAddresses/scenario.ps1
  src/tests/functional/Microsoft.Network/routeTables/scenario.ps1
  src/tests/functional/Microsoft.Network/virtualNetworks/scenario.ps1
  src/tests/functional/Microsoft.Resources/resourceGroups/scenario.ps1
  src/tests/functional/Microsoft.Storage/storageAccounts/scenario.ps1
  src/tests/functional/Microsoft.Web/serverfarms/scenario.ps1
  src/tests/functional/Microsoft.Web/sites/scenario.ps1
Labels: area/powershell, resource-provider

#848 Adding Support for Azure Monitor Application Insights Monitoring
  docs/wiki/Media/Monitoring/exception_condition.png
  docs/wiki/Media/Monitoring/logsearch_condition.png
  docs/wiki/Media/Monitoring/transactionsearch.png
  docs/wiki/Monitoring.md
  docs/wiki/Settings.md
  docs/wiki/Troubleshooting.md
  docs/wiki/_Sidebar.md
  src/AzOps.psd1
  src/functions/Initialize-AzOpsEnvironment.ps1
  src/functions/Invoke-AzOpsPull.ps1
  src/functions/Invoke-AzOpsPush.ps1
  src/internal/classes/AzOpsScope.ps1
  src/internal/configurations/Core.ps1
  src/internal/functions/Assert-AzOpsBicepDependency.ps1
  src/internal/functions/Assert-AzOpsInitialization.ps1
  src/internal/functions/Assert-AzOpsJqDependency.ps1
  src/internal/functions/Assert-AzOpsWindowsLongPath.ps1
  src/internal/functions/ConvertFrom-AzOpsBicepTemplate.ps1
  src/internal/functions/ConvertTo-AzOpsState.ps1
  src/internal/functions/Get-AzOpsCurrentPrincipal.ps1
  src/internal/functions/Get-AzOpsManagementGroup.ps1
  src/internal/functions/Get-AzOpsPim.ps1
  src/internal/functions/Get-AzOpsPolicy.ps1
  src/internal/functions/Get-AzOpsPolicyAssignment.ps1
  src/internal/functions/Get-AzOpsPolicyDefinition.ps1
  src/internal/functions/Get-AzOpsPolicyExemption.ps1
  src/internal/functions/Get-AzOpsPolicySetDefinition.ps1
  src/internal/functions/Get-AzOpsResourceDefinition.ps1
  src/internal/functions/Get-AzOpsResourceLock.ps1
  src/internal/functions/Get-AzOpsRole.ps1
  src/internal/functions/Get-AzOpsRoleAssignment.ps1
  src/internal/functions/Get-AzOpsRoleDefinition.ps1
  src/internal/functions/Get-AzOpsRoleEligibilityScheduleRequest.ps1
  src/internal/functions/Get-AzOpsSubscription.ps1
  src/internal/functions/Get-AzOpsTemplateFile.ps1
  src/internal/functions/Invoke-AzOpsNativeCommand.ps1
  src/internal/functions/Invoke-AzOpsRestMethod.ps1
  src/internal/functions/Invoke-AzOpsScriptBlock.ps1
  src/internal/functions/New-AzOpsDeployment.ps1
  src/internal/functions/New-AzOpsScope.ps1
  src/internal/functions/New-AzOpsStateDeployment.ps1
  src/internal/functions/Register-AzOpsProviderFeature.ps1
  src/internal/functions/Register-AzOpsResourceProvider.ps1
  src/internal/functions/Remove-AzOpsDeployment.ps1
  src/internal/functions/Remove-AzOpsInvalidCharacter.ps1
  src/internal/functions/Save-AzOpsManagementGroupChild.ps1
  src/internal/functions/Search-AzOpsAzGraph.ps1
  src/internal/functions/Set-AzOpsContext.ps1
  src/internal/functions/Set-AzOpsStringLength.ps1
  src/internal/functions/Set-AzOpsWhatIfOutput.ps1
  src/internal/functions/Write-AzOpsMessage.ps1
  src/localized/en-us/Strings.psd1
Labels: wiki-doc, enhancement, area/powershell

#852 Release 2.5.0
  src/AzOps.psd1
Labels: release

#855 Update permissions on release workflow
  .github/workflows/release.yml
Labels: security

#854 Silence output from Set-AzOpsContext
  src/internal/functions/Set-AzOpsContext.ps1
  src/tests/integration/Repository.Tests.ps1
Labels: bug
